node_modules/
frontend

dist/
build/
.vite/
*.tsbuildinfo
.temp/
.tmp/

*.local

.env
.env.local
.env.*.local

*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
.DS_Store

coverage/
.nyc_output/

.vscode/
.idea/
*.sublime-project

/backend/generated/
/backend/legacy